$backgroundColor = #0F7C90
$accentColor = lighten($backgroundColor, 1%)
// Fonts
$sidebarItemFonts = 'PT Mono', 'Noto Sans TC', monospace

// Colors
$lyndaColor = rgb(247, 203, 69)
$udemyColor = rgb(217, 93, 88)
$imoocColor = rgb(240, 20, 20)
$courseraColor = rgb(88, 137, 214)
$geektimeColor = rgb(235, 98, 15)
$pluralsightColor = rgb(220, 79, 89)